@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

html,
body {
    height: 100%;
}

body.my-login-page {
    background-color: #102d84;
}

.my-login-page .brand {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 25%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 1;
}

.card-body {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.card-left {
    width: 50%;
}

.card-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.my-login-page .brand img {
    width: 100%;
}

.my-login-page .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.my-login-page .card {
    border-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.my-login-page .card.fat {
    border-style: solid;
    border-radius: 1rem;
    width: 100%;
}

.card-body h2 {
    color: #000;
    width: 100%;
    margin-bottom: 50px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 20px;
}

.my-login-page .form-control {
    /* border-width: 2.3px; */
    width: 75%;
}

.my-login-page .form-group label {
    color: #000;
    width: 100%;
}

.card-body .forgot_password a {
    color: #000;
    width: 75%;
    display: flex;
    justify-content: end;
    text-decoration: underline;
}

.btn-submit {
    display: flex;
}

.btn-submit button {
    color: #fff;
    background: #102d84;
}

.my-login-page .btn.btn-block {
    padding: 12px 1px;
    margin-top: 65px;
}

.my-login-page .footer {
    margin: 40px 0;
    color: #888;
    text-align: center;
}

.card-right img {
    width: 525px;
    height: 365px;
}

.card-top-header {
    display: flex;
    justify-content: space-between;
}

.card-top-header img {
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 425px) {
    .my-login-page .card-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .my-login-page .form-control {
        width: 100%;
    }

    .card-body .forgot_password a {
        width: 100%;
        justify-content: end;
    }
}

@media screen and (max-width: 320px) {
    .my-login-page .card.fat {
        padding: 0;
    }

    .my-login-page .card.fat .card-body {
        padding: 15px;
    }

    .my-login-page .form-control {
        width: 100%;
    }

    .card-body .forgot_password a {
        width: 100%;
        justify-content: end;
    }
}

@media screen and (max-width: 768px) {
    .my-login-page .card-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .card-body {
        display: flex;
        flex-direction: column;
    }

    .card-left {
        width: 100%;
    }

    .card-right {
        display: none;
    }

    .my-login-page .form-control {
        width: 100%;
    }

    .card-body .forgot_password a {
        width: 100%;
        justify-content: end;
    }
}
